# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

#idea dependencies
.idea

# Go build directories
/bin/
/dist/
/build/

# Go workspace file
go.work

# Dependency directories (optional if vendoring)
vendor/

# macOS
.DS_Store

# Logs
*.log

# Environment files
.env
.env.*

# IDEs / Editors
.vscode/
.idea/

# Test binary
*.test

# Coverage reports
coverage.out